# Nuxt dev files
.nuxt
.output
.data
.nitro
.cache

# Node modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist
.vercel
.netlify

# System files
.DS_Store
Thumbs.db

# Editor directories
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Optional: local eslint config overrides if strictly personal
# eslint.config.local.mjs
